@import pictureStripe
@import organizerStripe
body
  font-size: 18px
  line-height: 140%
  font-family: 'Roboto'
  background: #fff

.content
  margin-top: 15px
  padding: 15px
  background: white

[role="page-container"]
  @media (max-width: 767px)
    background: #eee
.navbar
  a
    color: #C5EFF7
    &:hover
      color: black
  &.nav-scrolled
    background-color: rgba(0, 0, 0, 0.4)
.footer
  h2
    font-family: 'Roboto Slab'
  background-color: #ABB7B7
  img
    padding: 15px
    width: 100%
    height: auto
