@import pictureStripe
@import organizerStripe
@import contestantsStripe

body
  font-size: 18px
  line-height: 140%
  font-family: 'Roboto', 'Roboto Slab'
  background: #eee

.content
  margin-top: 15px
  padding: 15px

[role="page-container"]
  @media (max-width: 767px)
    background: #eee
.navbar
  .navbar-header a
    color: #333333
  .navbar-right
    a
      color: #333333
      border-bottom: 2px solid transparent;
      &:hover
        background-color: transparent !important
        border-color: #333333
    .active a
      border-color: #333333

  &.nav-scrolled
    background-color: rgba(0, 0, 0, 0.7)
    a, .navbar-header a, .navbar-right a
      color: #F6F6F6
      &:hover
        border-color: #F6F6F6
    .active a
      border-color: #F6F6F6
.footer
  h2
    font-family: 'Roboto Slab'
  background-color: #ABB7B7
  img
    padding: 15px
    width: 100%
    height: auto
.stripe
  padding: 0.7em
  h2
    font-family: 'Roboto Slab'
    font-size: 3.5em
.teams img
  width: 100%
