.organizerStripe
  padding: 15px
  h2
    font-size: 4em
  .team
    &.name
      text-align: center
      padding: 0.3em
      font-size: 1.5em
    @media (max-width: 768px)
      padding: 0.5em
  img
    height: auto
    width: 100%
  .desciption p
    padding: 0.5em
  &.asmi
    background-color: #4B77BE
  &.asaa
    background-color: #D35400
