.pictureStripe
  color: #F6F6F6
  position: relative
  height: 100vh
  width: 100vw
  .background
    height: 100%
    width: 100%
    filter: opacity(900%)
  .overlay
    .title
      position: absolute
      top: 10%
      left: 50%
      transform: translate3d(-50%, -10%, 0)
      font-size: 2em
      line-height: 1em
    .chevron
      position: absolute
      bottom: 1%
      left 50%
      transform: translate(-50%, -1%, 0)
  .well
    background-color: rgba(0, 0, 0, 0.4)
