.container.page
  h1 Contact
  .content
    .text-center
      h3 Pentru rezervari, nelamuriri sau probleme va rugam sa ne contactati
    .row
      .col-sm-6
        .well
          h2 Stefan Vracianu
          h3
            p
              | email:
              a(href="mailto:stefan.vrancianu@yahoo.com")  stefan.vrancianu@yahoo.com
              br
              | tel:
              a(href="callto:0740 520 324")  0740 520 324
              br
              | facebook:
              a(href="https://www.facebook.com/stefan.vrancianu")  Stefan Vranciau
      .col-sm-6
        .well
          h2 Geo Mazilu
          h3
            p
              | email: -
              br
              | tel:
              a(href="callto:0743 068 098")  0743 068 098
              br
              | facebook:
              a(href="https://www.facebook.com/geo.mazilu")  Geo Mazilu
