.container.page
  h1 Contact
  .content
    .text-center
      h3 Pentru nelamuriri sau probleme va rugam sa ne contactati
    .row
      .col-sm-6
        .well
          h2 Stefan Vrancianu
          h3
            p
              | email:
              a(href="mailto:stefan.vrancianu@yahoo.com")  stefan.vrancianu@yahoo.com
              br
              | telefon:
              a(href="callto:0740 520 324")  0740 520 324
              br
              | facebook:
              a(href="https://www.facebook.com/stefan.vrancianu")  Stefan Vranciau
      .col-sm-6
        .well
          h2 Geo Mazilu
          h3
            p
              | email: -
              br
              | telefon:
              a(href="callto:0743 068 098")  0743 068 098
              br
              | facebook:
              a(href="https://www.facebook.com/geo.mazilu")  Geo Mazilu
      .col-xs-12
        .well
          h2 Princess Club Bucuresti
          .info: p
            | Str. Ghercu Constantin nr 24
            | Complex Regie
            p
              h3 Email:
              | evenimente@princessclub.ro
              | evenimente.princessclub@gmail.com
              | princess_princessclub@yahoo.com
              h3 Persoane de contact:
              | OANA CRAIOVEANU - MANAGER GENERAL / 0764980139 / oana.craioveanu@ymail.com
