.contact
  .container.page
    h1.loc Contact
    .content
      .text-center
        h2 Pentru nelamuriri sau probleme va rugam sa ne contactati
      .row
        .col-sm-6
          .well
            h3 Ștefan Vrâncianu
            h4
              p
                | email:
                a(href="mailto:stefan.vrancianu@yahoo.com")  stefan.vrancianu@yahoo.com
                br
                | telefon:
                a(href="callto:+40740520324")  0740 520 324
                br
                | facebook:
                a(href="https://www.facebook.com/stefan.vrancianu")  Stefan Vranciau
        .col-sm-6
          .well
            h3 Geo Mazilu
            h4
              p
                | email: -
                br
                | telefon:
                a(href="callto:+40743068098")  0743 068 098
                br
                | facebook:
                a(href="https://www.facebook.com/geo.mazilu")  Geo Mazilu
        .col-xs-12
          .well
            h2 Princess Club Bucuresti
            .info: p
              | Str. Ghercu Constantin nr 24
              | Complex Regie
              p
                h3 Email:
                a(href="mailt:evenimente@princessclub.ro") evenimente@princessclub.ro
                br
                a(href="mailto:evenimente.princessclub@gmail.com") evenimente.princessclub@gmail.com
                br
                a(href="mailto:princess_princessclub@yahoo.com") princess_princessclub@yahoo.com
                h3 Pentru rezervari
                p
                  | telefon:
                  a(href="callto:+40720535383")  0720 535 383
                  br
                  | telefon:
                  a(href="callto:+0720535382")  0720 535 382
