.location-page
  .container.page
    h1.loc Locatie
    .content
      #map
      .location
        .row
          .col-sm-6
            .alert.alert-info
              p Pe data de 5 Noiembrie 2014, incepand cu ora 22, sunteti asteptati la Balul Bobocilor Facultatilor de Matematica / Informatica si Administrație / Afaceri.
            .alert.alert-danger
              p Invitati speciali: Parazitii
          .col-sm-6: .poster
            img(src='https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10736081_742414129167310_358115271_n.jpg?oh=9b1be37cd8b4eaad76cf19c0f4c19fad&oe=545A0BB6&__gda__=1415154603_6c264d4fc7717588c36d6d0f86041d0f')
