.container.page
  h1 Locatie
  .content
    #map
    .location
      .row
        .col-sm-6
          .alert.alert-info
            p Pe data de 5 Noiembrie 2013, incepand cu ora 22, sunteti asteptati la Balul Bobocilor Facultatilor de Matematica / Informatica si Administrare / Afaceri.
          .alert.alert-danger
            p Invitati speciali: Parazitii
          .well
            h2 Princess Club Bucuresti
            .info: p
              | Str. Ghercu Constantin nr 24
              | Complex Regie
              p
                h3 Email:
                | evenimente@princessclub.ro
                | evenimente.princessclub@gmail.com
                | princess_princessclub@yahoo.com
                h3 Persoane de contact:
                | OANA CRAIOVEANU - MANAGER GENERAL / 0764980139 / oana.craioveanu@ymail.com
        .col-sm-6: .poster
          img(src='https://scontent-b-ams.xx.fbcdn.net/hphotos-xpa1/t31.0-8/s960x960/1553417_774379349286918_6519586086239926627_o.jpg')
