.container.page
  h1 Locatie
  .content
    #map
    .location
      .row
        .col-sm-6
          .alert.alert-info
            p Pe data de 5 Noiembrie 2013, incepand cu ora 22, sunteti asteptati la Balul Bobocilor Facultatilor de Matematica / Informatica si Administrație / Afaceri.
          .alert.alert-danger
            p Invitati speciali: Parazitii
        .col-sm-6: .poster
          img(src='https://scontent-b-ams.xx.fbcdn.net/hphotos-xpa1/t31.0-8/s960x960/1553417_774379349286918_6519586086239926627_o.jpg')
