.organizerStripe.asaa
  .container
    h2 ASAA
    .row
      .col-sm-4
        .team.logo
          img(src='http://placehold.it/1200x1200')
      .col-sm-8
        .row
          .col-sm-3.col-sm-offset-3.col-xs-6
            .team.member
              a(href='http://placehold.it/200x200', data-lightbox='organizatori-asaa', data-title='Nume 1')
                img(src='http://placehold.it/200x200')
            .team.member.name
              span Nume 1
          .col-sm-3.col-xs-6
            .team.member
              a(href='http://placehold.it/200x200', data-lightbox='organizatori-asaa', data-title='Nume 2')
                img(src='http://placehold.it/200x200')
            .team.member.name
              span Nume 2
        .desciption
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
