.contestants.stripe.asaa
  .container
    h2 ASAA
    #teamAsaa.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#teamAsaa', data-slide-to='0')
        li(data-target='#teamAsaa', data-slide-to='1')
        li(data-target='#teamAsaa', data-slide-to='2')
      .carousel-inner
        .item.active
          img(src='http://lorempixel.com/1500/600/abstract/1', alt='Slide 1')
          .carousel-caption
            h3 Andrei &amp; Andreea
            a(href='/contestants/asaa/teams/1/') Detalii
        .item
          img(src='http://lorempixel.com/1500/600/abstract/2', alt='Slide 2')
          .carousel-caption
            h3 Andrei &amp; Andreea
            a(href='/contestants/asaa/teams/2/') Detalii
        .item
          img(src='http://lorempixel.com/1500/600/abstract/3', alt='Slide 3')
          .carousel-caption
            h3 Andrei &amp; Andreea
            a(href='/contestants/asaa/teams/3/') Detalii
      a.left.carousel-control(href='#teamAsaa', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#teamAsaa', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
