.organizer.stripe.content
  h2 Administrare si Afaceri
  .row
    .col-sm-4: .team.logo
        img(src='http://asaa.ro/wp-content/uploads/2013/10/970724_181906305307462_1728513994_n.jpg')
    .col-sm-8: .desciption
      p A luat fiinta in iunie 2009, incepand cu acel moment, Asociatia Studentilor din Administratie si Afaceri a reprezentat drepturile si interesele studentilor facultatii in fata autoritatilor cu putere de decizie in domeniul educational si a facut numele de ASAA cunoscut nu numai in mediul universitar bucurestean, cat si in cel din marile centre universitare din Romania. Prin calitatea de membru al unor structuri studentesti mai dezvoltate, cum ar fi Asociatia Studentilor din Universitatea Bucuresti ( ASUB) sau Uniunea Studentilor din Romania ( USR)
