.organizer.stripe.content
  h2 Matematica si Informatica
  .row
    .col-sm-4: .team.logo
      img(src='https://pbs.twimg.com/profile_images/436265097/asmi.jpg')
    .col-sm-8: .desciption
      p Asociația Studenților la Matematică și Informatică (ASMI) a fost fondată în anul 2009 din dorința de a reprezenta interesele și aspirațiile studenților și de a fi un intermediar între aceștia și cadrele didactice. În prezent, asociația noastră are 90 de membri, studenți la Facultatea de Matematică și Informatică a Universității din București.
