- var logos = ['../../assets/logos/logo1.png','../../assets/logos/logo2.jpg','../../assets/logos/logo3.png','../../assets/logos/logo4.png','../../assets/logos/logo5.jpg','../../assets/logos/logo6.jpg', '../../assets/logos/logo7.jpg' ]
.footer
  .container
    h2 Parteneri
    .row
      each logo in logos
        .col-sm-2.col-xs-4
          img(src="#{logo}")
    .small.text-center
      p &#169
        a(href='http://github.com/andreiconstantinescu')  Andrei Constantinescu
        |  2014
