- var bgPool = ['#C0392B', '#96281B', '#EF4836']
- var bgCurrent = bgPool[Math.floor(Math.random() * bgPool.length)];
.pictureStripe
  .background(style="background-color: #{bgCurrent}")
  .overlay
    .title
      span Balul Bobocilor al ASMI si ASAA
    .chevron
      i.fa.fa-chevron-down.fa-3x
