- var bgPool = ['https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1402839_10151973628774435_578614759_o.jpg', 'https://scontent-a-cdg.xx.fbcdn.net/hphotos-frc3/t31.0-8/919191_10151970331249133_455197773_o.jpg', 'https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1404820_10151970275179133_194205461_o.jpg']
- var bgCurrent = bgPool[Math.floor(Math.random() * bgPool.length)];
.pictureStripe
  .background(style="background-image: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/1402839_10151973628774435_578614759_o.jpg)")
  .overlay
    .title.text-center.well
      p Balul Bobocilor
      .small.hidden-xs Facultatilor de Matematica si Informatica si Administrație si Afaceri

    .chevron
      i.fa.fa-chevron-down.fa-3x
